# Large temporary files used for graph/figure generation
paper/data/npm_transitive_results
paper/data/pypi_transitive_results
paper/data/npm_dependencies
paper/data/pypi_dependencies
paper/pickle/npm_dl_count_dict.p
paper/pickle/pypi_dl_count_dict.p

# Node.js files
package.json
node_modules/

# VS Code settings
.vscode/